In [2]:
import pandas as pd

In [40]:
df_sites = pd.read_csv("all_sites.csv",sep=",")


df_sites['customer']=df_sites["customer_name"].str.extract("//(.+?):")
df_sites

/home/ramon/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

,Unnamed: 0,idbldsite,sname,imaxoccupancy,iwarnoccupancy,timezone,latitude,longitude,shopnumber,haswifi,...,compensation_at_reset_time,zone42r_region_passersby,customer_name,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,customer
0,0,4,Sensor Hoch,NaN,NaN,Europe/Zurich,47.665528,9.091779,Hoch,False,...,False,NaN,postgresql://dwe-switzerland:CUUt+N3@vx@postgr...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-switzerland
1,1,8,Sensor Tief,NaN,NaN,Europe/Zurich,47.665528,9.091779,Tief,False,...,False,NaN,postgresql://dwe-switzerland:CUUt+N3@vx@postgr...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-switzerland
2,2,9,Sensor Seite,NaN,NaN,Europe/Zurich,47.665528,9.091779,Seite,False,...,False,NaN,postgresql://dwe-switzerland:CUUt+N3@vx@postgr...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-switzerland
3,3,10,Sensor Allein,NaN,NaN,Europe/Zurich,47.665528,9.091779,Allein,False,...,False,NaN,postgresql://dwe-switzerland:CUUt+N3@vx@postgr...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-switzerland
4,4,7,Dilax BÃ¼ro Hardware,NaN,NaN,Europe/Zurich,47.665528,9.091779,Dilax,False,...,False,NaN,postgresql://dwe-switzerland:CUUt+N3@vx@postgr...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-switzerland
5,0,2,Metzingen,NaN,NaN,Europe/Berlin,48.535499,9.288751,NaN,False,...,True,NaN,postgresql://dwe-arashoes:pL?XRPE4$M93@postgre...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-arashoes
6,1,1,Ochtrup,NaN,NaN,Europe/Berlin,52.210460,7.194791,NaN,False,...,True,NaN,postgresql://dwe-arashoes:pL?XRPE4$M93@postgre...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-arashoes
7,0,1,Marc Aurel Ochtrup,NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-marcaurel:jRyfE=@_3svK@postgr...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-marcaurel
8,0,1,Ochtrup,NaN,NaN,Europe/Berlin,52.211209,7.197025,NaN,False,...,True,NaN,postgresql://dwe-ravensburger:02OLo8VJ2UzA8@po...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-ravensburger
9,0,0,PlanetM,NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-expo:R@tr-d7d#te?@postgresql0...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-expo
10,0,1,Sanetta Ochtrup,NaN,NaN,Europe/Berlin,52.211209,7.197025,NaN,False,...,True,NaN,postgresql://dwe-sanetta:ovP-Qu@7Wo@W@postgres...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-sanetta
11,0,200,6007 (Novi Ligure),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
12,1,400,6012 (Pantigliate),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
13,2,500,6019 (Verolanuova),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
14,3,600,1464 (Berlin Prenzlauer Berg),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
15,4,700,6008 (Porto Sant Elpidio),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,False,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
16,5,800,6005 (Sacile),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
17,6,900,5501 (Pancevo),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
18,7,1000,6016 (Castel Guelfo),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
19,8,1100,6015 (Faenza),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,False,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
20,9,1200,6017 (Rescaldina (MI)),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,False,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
21,10,1300,6023 (Cento),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,False,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
22,11,1400,6010 (Osimo),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
23,12,1600,6025 (Celano),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
24,13,1800,6022 (Galliate),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
25,14,2000,6006 (Mapello),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
26,15,2100,6011 (Piantedo),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
27,16,2300,6027 (Udine),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,NaN,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
28,17,2400,6028 (Teramo),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,False,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
29,18,2600,5503 (Kragujevac),NaN,NaN,Europe/Berlin,NaN,NaN,NaN,False,...,True,NaN,postgresql://dwe-takko:jwJet#9?4DJz@postgresql...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-takko
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1575,0,4,St Florian,NaN,NaN,Europe/Vienna,48.225030,14.394030,NaN,False,...,False,4099.0,postgresql://dwe-moebelix:Nd305KHsiqyNH78z@pos...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-moebelix
1576,0,1,Bluewater,NaN,NaN,Europe/London,51.438808,0.270916,NaN,False,...,False,NaN,postgresql://dwe-animal:dw3-4n1m4l@postgresql0...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-animal
1577,1,3,Brighton,NaN,NaN,Europe/London,50.822829,-0.146046,NaN,False,...,False,NaN,postgresql://dwe-animal:dw3-4n1m4l@postgresql0...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-animal
1578,0,4,Gelsenkirchen: avec,NaN,NaN,Europe/Berlin,51.505878,7.101545,2267,False,...,False,4171.0,postgresql://dwe-valora:dw3-v4l0r4@postgresql0...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-valora
1579,1,2,MÃ¼nchen: P&B MÃ¼nchen HBF,NaN,NaN,Europe/Berlin,48.141658,11.555192,413,False,...,False,4085.0,postgresql://dwe-valora:dw3-v4l0r4@postgresql0...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-valora
1580,2,3,Hamburg: P&B Bahnhof Altona,NaN,NaN,Europe/Berlin,53.551743,9.932947,222,False,...,False,4083.0,postgresql://dwe-valora:dw3-v4l0r4@postgresql0...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-valora
1581,3,1,Berlin: P&B im Bahnhof Spandau,NaN,NaN,Europe/Berlin,52.535095,13.194907,206,False,...,False,4081.0,postgresql://dwe-valora:dw3-v4l0r4@postgresql0...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-valora
1582,0,11,14 Detmold Dessous,NaN,NaN,Europe/Berlin,51.934070,8.875951,14 DET-D,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1583,1,10,10 Rheine,NaN,NaN,Europe/Berlin,52.278527,7.438614,10 10 RH,False,...,False,4116.0,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1584,2,3,03 Dorsten,NaN,NaN,Europe/Berlin,51.660852,6.960898,3 03 DOR,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1585,3,4,14 Detmold,NaN,NaN,Europe/Berlin,51.934070,8.875951,14 14 DET,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1586,4,5,05 Kleve-Herren,NaN,NaN,Europe/Berlin,51.789559,6.138432,5 05 KLE-HERREN,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1587,5,6,04 Kleve-Damen,NaN,NaN,Europe/Berlin,51.788775,6.136853,4 04 KLE-DAMEN,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1588,6,7,13 Lingen,NaN,NaN,Europe/Berlin,52.521128,7.314159,13 13 LIN,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1589,7,9,06 Wesel,NaN,NaN,Europe/Berlin,51.657410,6.618931,6 06 WES,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1590,8,2,01 Bottrop,NaN,NaN,Europe/Berlin,51.521913,6.922318,1 01 BOT,False,...,False,NaN,postgresql://dwe-mensing:CZdY1nlVqCq0bMMs@post...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-mensing
1591,0,3,Aufsessplatz,NaN,NaN,Europe/Berlin,49.442060,11.080279,NaN,False,...,False,NaN,postgresql://dwe-vagnuernberg:dn7rnyN7pULOPpP2...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-vagnuernberg
1592,0,3,Blechen-CarrÃ©,NaN,NaN,Europe/Berlin,51.757725,14.329179,NaN,False,...,False,NaN,postgresql://dwe-blechencarre:cqjWs1YBK2Nku8E5...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-blechencarre
1593,0,8,BibliothÃ¨que Alain Rey,NaN,NaN,Europe/Paris,45.797516,3.247697,Alain Rey,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1594,1,4,MÃ©diathÃ¨que ArsÃ¨ne Boulay,NaN,NaN,Europe/Paris,45.728803,3.099475,ArsÃ¨ne Boulay,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1595,2,9,BibliothÃ¨que du Patrimoine,NaN,NaN,Europe/Paris,45.773969,3.089079,Patrimoine,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1596,3,7,MÃ©diathÃ¨que RÃªve et Savoir,1000.0,NaN,Europe/Paris,45.794157,3.164794,RÃªve et Savoir,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1597,4,2,MÃ©diathÃ¨que de Jaude,400.0,NaN,Europe/Paris,45.775010,3.084237,Jaude,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1598,5,10,Centre de doc. cinÃ©ma et court mÃ©trage,NaN,NaN,Europe/Paris,45.777047,3.089374,La JetÃ©e,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1599,6,6,BibliothÃ¨que Jacques PrÃ©vert,NaN,NaN,Europe/Paris,45.767927,3.196557,Jacques PrÃ©vert,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1600,7,3,MÃ©diathÃ¨que Nicolas-Chamfort,NaN,NaN,Europe/Paris,45.719723,3.018397,Nicolas-Chamfort,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1601,8,5,MÃ©diathÃ¨que Alexandre Vialatte,NaN,NaN,Europe/Paris,45.749533,3.110983,Alexandre Vialatte,False,...,False,NaN,postgresql://dwe-bibliothequeclermont:o5Is8N69...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-bibliothequeclermont
1602,0,2,Wien Mariahilfer Strasse,NaN,NaN,Europe/Berlin,48.201238,16.356652,NaN,False,...,False,NaN,postgresql://dwe-leiner:EbLHW9rYFdW0fTbk@postg...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-leiner
1603,0,2,JOOP Montabaur,NaN,NaN,Europe/Berlin,50.444208,7.829800,NaN,False,...,False,NaN,postgresql://dwe-holyfashiongroup:0KxuySrAkxzU...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-holyfashiongroup
1604,0,2,Neuchatel,NaN,NaN,Europe/Berlin,NaN,NaN,NaN,False,...,False,NaN,postgresql://dwe-fnac:gazRjwx1bDtKbfq7@postgre...,NaN,NaN,NaN,NaN,NaN,NaN,dwe-fnac